table {
    width: 100%;
    height: fit-content;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(161, 158, 158, 0.5);
}
  
  