<div class="grid-container">
  <!--<mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>-->
  <mat-card class="example">
    <mat-card-title-group>
      <mat-card-title>ORDERS {{orders.length}}</mat-card-title>
      <mat-card-subtitle>Recieved</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 300px; display: block;"
></highcharts-chart>
    </mat-card-content>
  </mat-card>
</div>
